version: "1.0"

services:
  server:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: app
    environment:
      PORT: 3000
    ports:
      - "3000:3000"
    volumes:
      - data:/app/data

volumes:
  data: